<p>
    @Html.ActionLink("Create New Book", "Create", "Book", null, null)
</p>
<p>
    @Html.ActionLink("Create New Issue", "Create", "Issue", null, null)
</p>
<p>
    @Html.ActionLink("Create New Patent", "Create", "Patent", null, null)
</p>
<p>
    @Html.ActionLink("Create New Author", "Create", "Author", null, null)
</p>
<p>
    @Html.ActionLink("Create New Newspaper", "Create", "Newspaper", null, null)
</p>
